Title = "[[your page title here]]"
ApiKey = "[[your key here]]"

[[Galleries]]
GalleryName = "Goldmyer"
GalleryID = "goldmyer.10.2016"
GalleryLat = "47.485"
GalleryLng = "-121.3889"

[[Galleries]]
GalleryName = "Big Four Ice Caves"
GalleryID = "big.four.9.2016"
GalleryLat = "48.025"
GalleryLng = "-121.51939"
