<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/detail.css">
</head>
<body>

<h2>{{.GalleryName}}</h2>
{{with .Images}}
{{range .}}
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/img/full/{{$.GalleryID}}/{{.URI}}">
      <img src="/img/small/{{$.GalleryID}}/{{.URI}}" alt="{{.Desc}}" width="300" height="200">
    </a>
    <div class="desc">{{.Desc}}</div>
  </div>
</div>
{{end}}
{{end}}

{{with .Panos}}
{{range .}}
<div class="responsive">
  <div class="img">
    <a target="_blank" href="/pan/full/{{$.GalleryID}}/{{.URI}}">
      <img src="/pan/small/{{$.GalleryID}}/{{.URI}}" alt="{{.Desc}}" width="300" height="200">
    </a>
    <div class="desc">{{.Desc}}</div>
  </div>
</div>
{{end}}
{{end}}

<div class="clearfix"></div>
</body>
</html>
