{{define "powerline"}}
{{if .PowerlineCrumb}}
.menu {
	background: {{.HeaderBackground}};
}

.breadcrumb {
	position: fixed;
	list-style: none;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
}

.breadcrumb li { 
	float: left; 
}

.options li { 
	float: right;
	padding: 10px 44px 10px 0;
	text-shadow: none;
}

.breadcrumb li a {
	text-decoration: none; 
	padding: 10px 0 10px 50px;
	position: relative; 
	display: block;
	float: left;
}

.breadcrumb li a::after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid {{.BreadcrumbColor1}};
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}

.breadcrumb li a::before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid #2f4050;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}

.breadcrumb li:first-child a {
	padding-left: 10px;
	background: {{.BreadcrumbColor1}};
}

.breadcrumb li a:hover {
	text-decoration: underline;
}

.breadcrumb li:nth-child(2) a       { background: {{.BreadcrumbColor2}}; }
.breadcrumb li:nth-child(2) a:after { border-left-color: {{.BreadcrumbColor2}}; }
.breadcrumb li:nth-child(3) a       { background: {{.BreadcrumbColor3}}; }
.breadcrumb li:nth-child(3) a:after { border-left-color: {{.BreadcrumbColor3}}; }
.breadcrumb li:nth-child(4) a       { background: {{.BreadcrumbColor4}}; }
.breadcrumb li:nth-child(4) a:after { border-left-color: {{.BreadcrumbColor4}}; }
.breadcrumb li:nth-child(5) a       { background: {{.BreadcrumbColor5}}; }
.breadcrumb li:nth-child(5) a:after { border-left-color: {{.BreadcrumbColor5}}; }

.breadcrumb li:last-child a {
	pointer-events: none;
	cursor: default;
}

#header {
	position: fixed;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	font-size:2em;
}
#content {
	top: 60px;
}
{{end}}
{{end}}