a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
}

.breadcrumb {
  position: fixed;
  list-style: none;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  background: #384E64;
}
.breadcrumb li { 
  float: left; 
}
.breadcrumb li a {
  text-decoration: none; 
  padding: 10px 0 10px 65px;
  position: relative; 
  display: block;
  float: left;
}
.breadcrumb li a::after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #4f6478;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2; 
}
.breadcrumb li a::before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;       
  border-bottom: 50px solid transparent;
  border-left: 30px solid #2f4050;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}
.breadcrumb li:first-child a {
  padding-left: 10px;
  background: #4f6478;
}
.breadcrumb li a:hover {
  text-decoration: underline;
}


.breadcrumb li:nth-child(2) a       { background: #5f7488; }
.breadcrumb li:nth-child(2) a:after { border-left-color: #5f7488; }
.breadcrumb li:nth-child(3) a       { background: #6f8498; }
.breadcrumb li:nth-child(3) a:after { border-left-color: #6f8498; }
.breadcrumb li:nth-child(4) a       { background: #7f94a8; }
.breadcrumb li:nth-child(4) a:after { border-left-color: #7f94a8; }
.breadcrumb li:nth-child(5) a       { background: #8fa4b8; }
.breadcrumb li:nth-child(5) a:after { border-left-color: #8fa4b8; }

.breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
}