.albumletterpress {
	color:#bbb;
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    text-align:center;
}

.albumcover {
	position: relative;
	float: left;
	margin:1px;
}

.albumcover:hover {
    cursor: pointer;
}

.covertitle {
	position: absolute;
    bottom:0px;
    left:0;
    right:0;
    background: #0008;
    z-index: 3;
	font-size:2em;
	line-height: 40px;
}

.albumcover:hover .covertitle {
	box-shadow: 0 6px 6px -6px black;
    background: #ccc;

    color:#265746;
    text-shadow: 0px 1px 1px #6F9487;
}
