.photo {
	position: relative;
	float: left;
	background: #2f4050;
	margin: 10px;
	box-sizing: border-box;
	border: 1px solid #4f6478;
}

.photoimg {
	overflow: hidden;
    object-fit: contain;
}

.photo:hover {
	border: 1px solid #cfc;
}

#gpxviewer {
	height: 60px;
	line-height: 60px;
	font-size: 2em;
	background: #6f8498;
	width: 400px;
	color: #2f4050;
	margin: 0 auto;
}

#gpxviewer:hover {
	text-decoration: underline;
	cursor: pointer;
}