.albumletterpress {
	color:#1f3040;
    font-family:Tahoma, Helvetica, Arial, sans-serif;
    text-align:center;
    text-shadow: 0px 1px 1px #52708C;
}

.albumcover {
	position: relative;
	float: left;
	margin-bottom:10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.covertitle {
	position: absolute;
    bottom:0px;
    left:0;
    right:0;
    background: #bbb;
    margin: 10px;
    z-index: 3;
    box-shadow: 0 8px 6px -6px black;
	font-size:2em;
	line-height: 40px;
}

.albumcover:hover .covertitle {
	box-shadow: 0 6px 6px -6px black;
    background: #ccc;

    color:#265746;
    text-shadow: 0px 1px 1px #6F9487;

    cursor: pointer;
}
