.vertical-menu {
    width: 410px;
    position: fixed;
    top: -2px;
    left: 0;
    height: 100%;
    padding-top: 2px;
    background: #394e61;
}

.vertical-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.vertical-menu::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.vertical-menu::-webkit-scrollbar-thumb {
	background-color: #000000;
}

#galleryeditor {
    position: fixed;
    left: 410px;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 10px;
    overflow: scroll;

    font: 13px 'Lucida sans', Arial, Helvetica;
    text-align: center;
}


.fieldset {
    height: 60px;
    color: #394e61;
    background: #485E74;
    padding: 0;
    margin: 10px;
    position: relative;
}

.fieldset input {
    outline: none;
    border: none;

    font-size: 30px;
    position: relative;
    top: 10px;
    height: 40px;
    line-height: 40px;

    background: #485E74;
}

.fieldset button {
    font-size: 20px;
    position: relative;
    top: 10px;
    height: 40px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

.tilesquare {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
    background-size: 200px 200px;
    background-position: center center;
}

#mapLocationSelection {
    height: 420px;
    background: #cfc;
}

#mapControls {
    height: 100%;
    width: 210px;
    float: right;

    display:flex;
    flex-direction:column;
}

#mapControls button {
    margin-bottom: 10px;
}

#contentscroll {
    grid-template-columns: repeat(1, 1fr) !important;
}

#mapElement {
    position: absolute;
    width: 100%;
    height: 100%;
}

#micropics {
    overflow: auto;
}