.vertical-menu {
    width: 125px;
    position: fixed;
    top: -2px;
    left: 0;
    height: 100%;
    padding-top: 2px;
    background: #fff;
}

.vertical-menu::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.vertical-menu::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.vertical-menu::-webkit-scrollbar-thumb {
	background-color: #000000;
}


#sidetopsection {
    height: 250px;
    width: 125px;
    top: 0;
}

.menuitem {
    height: 125px;
    width: 125px;
    padding: 0;
    vertical-align: top;
    position: relative;
    float: left;
}

.menuitem-icon {
    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    width: 40px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 40px;
}

.menuitem-text {
    height: 25px;
    top: 90px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.menuitem:hover {
    text-decoration: underline;
    cursor: pointer;
}

#galleryeditor {
    position: fixed;
    left: 125px;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 10px;

    font: 13px 'Lucida sans', Arial, Helvetica;
    text-align: center;
    background: #fafafa;
}

#galleryeditor .fieldset {
    height: 60px;
    color: #394e61;
    background: #f2f2f2;
    padding: 0;
    position: relative;
    border-radius: 5px;
}

#galleryeditor .fieldset input {
    outline: none;
    border: none;

    font-size: 30px;
    position: relative;
    top: 10px;
    height: 40px;
    line-height: 40px;

    background: #f5f5f5;
    text-align:center;
}

#galleryeditor .fieldset button {
    font-size: 20px;
    position: relative;
    top: 10px;
    height: 40px;
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

#galleryeditor #controls {
    height: 125px;
    width: 100%;
    display: block;
}

#photoholder {
    overflow: scroll;
    height: 100%;
}

#photos {
    height: 100%;
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

.uploading-photo {
    margin:10px;
    height: auto;
    float: right;
    position: relative;
}

.uploading-photo img {
    width: 100%;
    overflow: auto;
}

.uploading-photo .thumbnailsetter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    top: 0px;

    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
}

.uploading-photo .thumbnailsetter:hover {
    color: #0f0;
}