<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/gallery.css">
    <link rel="stylesheet" type="text/css" href="/static/breadcrumb.css">
    <link rel="stylesheet" type="text/css" href="/static/common.css">
    <script>
      function load_image(gal, img) {
        if(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase())) {
          window.open("/img/full/"+gal+"/"+img,'_blank');
        } else {
          window.open("/view/"+gal+"/"+img, '_self');
        }
      }
    </script>
  </head>
  <body>
    <div id="header" class="letterpress">
      <ul class="breadcrumb">
        <li><a href="/">{{.Title}}</a></li>
        <li><a href="#">{{.GalleryName}}</a></li>
      </ul>
    </div>
    <div id="content">
      <div id="contentscroll">
        {{with .Images}}
        {{range .}}
        <div class="photo"
             style="background: url(/img/{{$.GalleryID}}/{{.Name}}/TN); background-size:cover;"
             onclick="load_image('{{$.GalleryID}}','{{.Name}}')">
        </div>
        {{end}}
        {{end}}
      </div>
    </div>
  </body>
</html>

