<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="/static/breadcrumb.css">
		<link rel="stylesheet" type="text/css" href="/static/common.css">
	</head>
	<body>
		<div id="header" class="letterpress">
			<ul class="breadcrumb">
				<li><a href="#">{{.Title}}</a></li>
			</ul>
		</div>
		<div id="albums">
			<div id="albumscroll">
				{{with .Galleries}}
				{{range .}}
				<div class="albumcover">
					<div class="coverimg">
						<image src="gallerydata/{{.GalleryID}}/splash.jpg"></image>
					</div>
					<div class="shadow"></div>
					<div class="covertitle albumletterpress" onclick="location.href='/gallerydetail/{{.GalleryID}}'">
						{{.GalleryName}}
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
	</body>
</html>

