<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="/static/breadcrumb.css">
		<link rel="stylesheet" type="text/css" href="/static/common.css">
	</head>
	<body>
		<div id="header" class="letterpress">
			<ul class="breadcrumb">
				<li><a href="#">{{.Title}}</a></li>
			</ul>
		</div>
		<div id="content">
			<div id="contentscroll">
				<div id="overviewmap">
				</div>
				{{with .Galleries}}
				{{range .}}
				<div class="albumcover">
					<div class="coverimg">
						<image src="gallerydata/{{.GalleryID}}/splash.jpg"></image>
					</div>
					<div class="shadow"></div>
					<div class="covertitle albumletterpress" onclick="location.href='/gallerydetail/{{.GalleryID}}'">
						{{.GalleryName}}
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
		<script>
			function initMap() {
				mapelem = document.getElementById("overviewmap");
				var map = new google.maps.Map(mapelem, {
					center: {lat: 0, lng: 0},
					zoom: 2,
					disableDefaultUI: true
				})
				bounds = new google.maps.LatLngBounds()
				{{with .Galleries}}
				{{range .}}
				marker = new google.maps.Marker({
					position: {lat: Number({{.GalleryLat}}), lng: Number({{.GalleryLng}})},
					map: map,
					title: '{{.GalleryName}}'
				})
				marker.addListener('click', function() {
					location.href='/gallerydetail/{{.GalleryID}}'
				})
				bounds.extend(marker.getPosition());
				{{end}}
				{{end}}
				map.setOptions({draggable: true, zoomControl: false, scrollwheel: true, disableDoubleClickZoom: true})
				map.fitBounds(bounds)
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKey}}&callback=initMap" async defer></script>
	</body>
</html>

