<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="/static/breadcrumb.css">
		<link rel="stylesheet" type="text/css" href="/static/common.css">
		<link rel="stylesheet" type="text/css" href="/static/gallerytile.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/static/gpx.js"></script>
	</head>
	<body>
		<div id="header" class="letterpress">
			<ul class="breadcrumb">
				<li><a href="#">{{.Title}}</a></li>
			</ul>
			<a href="/manage">
				<div id="login">
					<i class="material-icons letterpress">fingerprint</i>
				</div>
			</a>
		</div>
		<div id="content">
			<div id="contentscroll">
				<div class="albumcover" id="overviewmap"
				     style="grid-column: 1 / 3; grid-row: 1 / 3;">
				 </div>
				{{with .Galleries}}
				{{range .}}
				<div class="albumcover"
				     style="background: url(/i/T/{{.Path}}/{{.Splash}});
				            background-size:cover;">
					<div class="covertitle albumletterpress" onclick="location.href='/g/{{.Path}}'">
						{{.Name}}
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
		<script>
			function initMap() {
				mapelem = document.getElementById("overviewmap");
				bounds = new google.maps.LatLngBounds()

				$.get('/static/topo.json', function(data) {
					var map = new google.maps.Map(mapelem, {
						center: {lat: 0, lng: 0},
						zoom: 2,
						mapTypeId: 'terrain',
						styles: data,
						disableDefaultUI: true
					})
					{{with .Galleries}}
					{{range .}}getGPXInfo('/d/{{.Path}}/gpx', '{{.Name}}', map, bounds)
					{{end}}{{end}}

					document.boundselement = bounds

					map.fitBounds(bounds)
				})

				//map.setOptions({draggable: true, zoomControl: true, scrollwheel: true, disableDoubleClickZoom: false})
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKey}}&callback=initMap" async defer></script>
	</body>
</html>

