<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/manage.css">
	<link rel="stylesheet" type="text/css" href="/static/gallerytile.css">
	<link rel="stylesheet" type="text/css" href="/conf/common.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/manage.js"></script>
</head>
<body>
	<div id="sidebar" class="vertical-menu">
		<div id="sidetopsection">
			<div class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_key.svg);">
				</div>
				<div class="menuitem-text">
					Manage Users
				</div>
			</div>
			<div id="createButton" class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_book.svg);">
				</div>
				<div class="menuitem-text">
					Create Album
				</div>
			</div>
		</div>
		{{with .Galleries}}
		{{range .}}
		<div id="{{.Path}}" class="menuitem albummanager">
			<div class="menuitem-icon" style="background-image:url(/img/{{.Path}}/{{.Splash}}/TN);">
			</div>
			<div class="menuitem-text">
				{{.Name}}
			</div>
			<input class="hidden __prop_path" value="{{.Path}}">
			<input class="hidden __prop_name" value="{{.Name}}">
			<input class="hidden __prop_splash" value="{{.Splash}}">
			<input class="hidden __prop_lat" value="{{.Lat}}">
			<input class="hidden __prop_lon" value="{{.Lon}}">
		</div>
		{{end}}
		{{end}}
	</div>



	<div id="galleryeditor" class="hidden">
		<form class="fieldset" onsubmit="return false;">
		  	<input id="gallerynamefield" type="text" value="<<galleryname>>">
			<button id="gallerynamesubmit">Change Name</button>
		</form>
		<div id="controls">
			<div class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_map.svg);">
				</div>
			</div>
			<div class="menuitem" id="imageupload">
				<div class="menuitem-icon" style="background-image:url(/static/if_upload.svg);">
				</div>
			</div>
			<input id="imageupload_hidden" type="file" style="display:none" multiple />
			<div class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_lock.svg);">
				</div>
			</div>
			<div class="menuitem" id="thumbnail_toggle">
				<div class="menuitem-icon" style="background-image:url(/static/if_thumbnail.svg);">
				</div>
			</div>
		</div>
		<div id="photoholder">
			<div id="photos">
			</div>
		</div>
	</div>
</body>
</html>
