<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="/conf/common.css">
		<link rel="stylesheet" type="text/css" href="/static/gallerytile.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/static/gpx.js"></script>
	</head>
	<body>
		<div id="header" class="letterpress">
			<ul class="breadcrumb menu">
				<li><a href="#">{{.Title}}</a></li>
			</ul>
            <ul class="options menu">
                <li><a href="/manage">login</a></li>
            </ul>
		</div>
		<div id="content">
			<div id="contentscroll">
				<div class="albumcover" id="overviewmap"
				     style="grid-column: 1 / 3; grid-row: 1 / 3;">
				 </div>
				{{with .Galleries}}
				{{range .}}
				<div class="albumcover"
				     onclick="location.href='/gallery/{{.Path}}'"
				     style="background: url(/img/{{.Path}}/{{.Splash}}/TN);
				            background-size:cover;">
					<div class="covertitle albumletterpress">
						{{.Name}}
					</div>
				</div>
				{{end}}
				{{end}}
			</div>
		</div>
		<script>
			function initMap() {
				mapelem = document.getElementById("overviewmap");

                $.get('/static/topo.json', function(data) {
                    map = new google.maps.Map(mapelem, {
                        center: {lat: 0, lng: 0},
                        zoom: 2,
                        mapTypeId: 'terrain',
                        styles: data,
                        disableDefaultUI: true
                    });
                    google.maps.event.addListenerOnce(map, 'idle', function() {
					    {{with .Galleries}}
                        {{range .}}
                        getLocation('{{.Path}}', '{{.Lat}}', '{{.Lon}}', function(dat){
                            displayData({key: dat}, map)
                        })
                        {{end}}
                        {{end}}
                    });
				})
			}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKey}}&callback=initMap" async defer></script>
	</body>
</html>

