<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/index.css">
		<link rel="stylesheet" type="text/css" href="/conf/common.css">
		<link rel="stylesheet" type="text/css" href="/static/gallerytile.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  		<script src="/static/require.full.js" data-main="static/load_images"></script>

		<script src="/static/gpx.js"></script>
	</head>
	<body>
		<div id="header" class="letterpress">
			<ul class="breadcrumb menu">
				<li><a href="#">{{.Title}}</a></li>
			</ul>
            <ul class="options menu">
                <li><a href="/manage">login</a></li>
            </ul>
		</div>
		<div id="content">
			<div id="contentscroll">
			</div>
		</div>

		<script>
			requirejs.config({
			    baseUrl: '/static',
			});

			requirejs(['load_images', 'gallery'], function(load_images, gallery) {
				covertitleboxes = [
					{{with .Galleries}}
					{{range .}}
					new load_images.GalleryTileImageLoader('/img/{{.Path}}/{{.Splash}}/VGA', [{{.Splashwidth}}, {{.Splashheight}}], '{{.Name}}', '{{.Path}}'),
					{{end}}
					{{end}}
				];
				width = 40;
				var G = new gallery.Gallery('contentscroll', width, 5);
				G.Render(covertitleboxes);
			})
		</script>
	</body>
</html>

