<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/manage.css">
	<link rel="stylesheet" type="text/css" href="/static/gallerytile.css">
	<link rel="stylesheet" type="text/css" href="/conf/common.css">
	<script src="/static/gpx.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$.fn.extend({
			'clickonce': function(func) {
				a = this;
				b = function() {
					func.apply(this, arguments);
					a.off('click', b)
				}
				a.on('click', b)
			}
		}) 
	</script>
	<script src="/static/manage.js"></script>
</head>
<body>
	<div id="sidebar" class="vertical-menu">
		<div id="sidetopsection">
			<div id="change_password" class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_key.svg);">
				</div>
				<div class="menuitem-text">
					Change Password
				</div>
			</div>
			<div id="manage_users" class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_user.svg);">
				</div>
				<div class="menuitem-text">
					Manage Users
				</div>
			</div>
			<div id="createButton" class="menuitem">
				<div class="menuitem-icon" style="background-image:url(/static/if_book.svg);">
				</div>
				<div class="menuitem-text">
					Create Album
				</div>
			</div>
		</div>
		{{with .Galleries}}
		{{range .}}
		<div id="{{.Path}}" class="menuitem albummanager">
			<div class="menuitem-icon" style="background-image:url(/img/{{.Path}}/{{.Splash}}/TN);">
			</div>
			<div class="menuitem-text">
				{{.Name}}
			</div>
			<input class="hidden __prop_path" value="{{.Path}}">
			<input class="hidden __prop_name" value="{{.Name}}">
			<input class="hidden __prop_splash" value="{{.Splash}}">
			<input class="hidden __prop_lat" value="{{.Lat}}">
			<input class="hidden __prop_lon" value="{{.Lon}}">
		</div>
		{{end}}
		{{end}}
	</div>

	<div id="user_management" class="hidden opt-control">
		<div class="controls">
			<div id="add_new_user" class="menuitem" title="Add New User">
				<div class="menuitem-icon" style="background-image:url(/static/if_adduser.svg);">
				</div>
			</div>
		</div>
		<table id="usertable" class="table table-hover table-mc-light-blue">
		</table>
	</div>

	<div id="map_configuration" class="hidden opt-control">
		<div class="controls">
			<div class="menuitem locationconfig-destroy" title="Exit Map Editor">
				<div class="menuitem-icon" style="background-image:url(/static/if_close.svg);">
				</div>
			</div>
			<div id="upload-gpx" class="menuitem" title="Upload GPX">
				<div class="menuitem-icon" style="background-image:url(/static/if_upload.svg);">
				</div>
			</div>
			<input id="gpxupload_hidden" type="file" style="display:none"/>
			<div id="set-location" class="menuitem" title="Add Map Pin">
				<div class="menuitem-icon" style="background-image:url(/static/if_map_pin.svg);">
				</div>
			</div>
		</div>
		<div id='blackhole' class='hidden'>
			<div id="map-conf-map">

			</div>
		</div>
	</div>



	<div id="galleryeditor" class="hidden">
		<form class="fieldset" onsubmit="return false;">
		  	<input id="gallerynamefield" type="text" value="<<galleryname>>">
			<button id="gallerynamesubmit">Change Name</button>
		</form>
		<div class="controls">
			<div class="menuitem locationconfig-display" title="Select Map Coordinates or Upload GPX">
				<div class="menuitem-icon" style="background-image:url(/static/if_map.svg);">
				</div>
			</div>
			<div class="menuitem" id="imageupload" title="Upload Image(s)">
				<div class="menuitem-icon" style="background-image:url(/static/if_upload.svg);">
				</div>
			</div>
			<input id="imageupload_hidden" type="file" style="display:none" multiple />
			<div class="menuitem" title="Set Gallery Permissions">
				<div class="menuitem-icon" style="background-image:url(/static/if_lock.svg);">
				</div>
			</div>
			<div class="menuitem" id="thumbnail_toggle" title="Select a thumbnail image">
				<div class="menuitem-icon" style="background-image:url(/static/if_thumbnail.svg);">
				</div>
			</div>
		</div>
		<div id="photoholder">
			<div id="photos">
			</div>
		</div>
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key={{.APIKey}}&callback=init_map" async defer></script>
</body>
</html>
